<h1>Restablecer contraseña</h1>

{{#if error}}
<p style="color:red;">{{error}}</p>
{{/if}}

<form method="POST" action="/api/sessions/reset-password">
    <input type="hidden" name="token" value="{{token}}" />

    <div>
        <label for="password">Nueva contraseña:</label>
        <input type="password" id="password" name="password" required />
    </div>

    <button type="submit">Actualizar contraseña</button>
</form>