<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final - Backend I</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/realtimeproducts">Realtime</a>
            <a href="/carts">Mi Carrito</a>
        </nav>
    </header>
    <main>
        {{{body}}}

    </main>
</body>

</html>